@media screen and (max-width: 767px) {
  /* This CSS applies to devices with width 767px or less (most phones) */

  body {
    font-size: 16px;
    padding: 10px;
  }

  .container {
    flex-direction: column;
    padding: 1rem;
  }

  .navbar {
    display: none; /* Hide for mobile */
  }

  .mobile-nav {
    display: block; /* Show only for mobile */
  }
}
